@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  background-color: #181818;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #1a1a1a; /*star particles?*/
}

section[id],
div[id] {
  scroll-margin-top: 2rem;
}

/*divider parameters*/
hr {
  margin: 12% 0%;
  border-top: 1rem;
  border-color: black;
}

/*clickable text and green class green colored*/
a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

/*deeper green color on hover*/
@media (hover: hover) {
  a:hover {
    color: hsla(160, 87%, 49%, 1);
  }
}

/*logo class positioning*/
.logo {
  display: block;
  margin: 0 auto 2rem;
}

/*h1 parameters*/
h1,
h2 {
  font-weight: 500;
  font-size: 2.6rem;
  position: relative;
  top: -10px;
}

/*h3 parameters*/
h3 {
  font-size: 1.3rem;
}

/*aligncenter class parameters*/
.aligncenter h1,
.aligncenter h2,
.aligncenter h3,
.aligncenter h4,
.aligncenter h5,
.aligncenter h6,
.aligncenter p {
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
}

/*header parameters*/
header {
  line-height: 1.5;
}

/*Block parameters*/
.block {
  margin: 4% 20%;
}

/* -------- */
/*Animations*/

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/*common fade parameters*/
.fadeout,
.fadein {
  animation-timing-function: linear;
  animation-timeline: view();
  animation-range: entry 0 cover 25%;
}

/*fadein parameters*/
.fadein {
  animation-name: fadein;
}

/*fadeout parameters*/
.fadeout {
  animation-name: fadeout;
  animation-range: exit-crossing -35%;
}

/*allow animations to run together*/
.fadein.fadeout {
  animation-name: fadein, fadeout;
  animation-timeline: view(), view();
  animation-range:
    entry 0 cover 25%,
    exit-crossing -35%;
}
